body
{
    background-image: url(Carimages/city2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

h2 {
    color: rgb(0, 255, 255);
    padding: auto;
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
img {
    margin: 25px;
}
nav {
    margin: 25px;
}